#about-title {
	padding-top: 20px;
	width: 100%;
	text-align: center;
	color: $maincolor;
	@media screen and (max-width: $mobilesize) {
		padding: 25px 0px 5px 0px;
	}
}

#about-container {
	display: flex;
	flex-wrap: wrap;
	@media screen and (max-width: $tabletsize) {
		display: block;
	}
}

#about-text {
	width: calc(100% - 350px);
	min-width: 400px;
	padding: 0px 20px;
	line-height: 1.8rem;
	p {
		margin-bottom: 20px;
	}
	@media screen and (max-width: $tabletsize) {
		min-width: auto;
		width: 100%;
		padding: 0px;
	}
	@media screen and (max-width: $mobilesize) {
		display: block;
		float: left;
	}
}

#about-photo {
	width: 300px;
	border-radius: 10px;
	@media screen and (max-width: $tabletsize) {
		margin: 10px;
		float: left;
	}
	@media screen and (max-width: $mobilesize) {
		width: 90%;
		height: 90%;
		margin: auto;
	}
}


#qualifications {
	margin: 0px auto;
}

#qualifications-title {
	color: $maincolor;
}

.qualification-text {
	padding: 10px 0px;
	font-weight: 700;
	p {
		display: block;
		padding: 10px 0px;
		line-height: 1.5rem;
	}
	p:before {
		content: "- ";
		color: $maincolor;
	}
}

#training {
	margin: 0px auto;
}

#training-title {
	color: $maincolor;
}

#training-list {
	line-height: 2.3rem;
}

#columns {
	@media screen and (max-width: $mobilesize) {
		width: 100%;
		padding: 0px;
	}
}