#courses-title {
	padding: 30px 0px;
	color: $maincolor;
	font-family: $mainfont;
}

.showcourse {
	position: relative;
	left: calc(100% - 30px);
	bottom: 40px;
	@media screen and (max-width: $mobilesize) {
		bottom: 18px;
		left: calc(100% - 20px);
	}
}

.hidecourse {
	position: relative;
	left: calc(100% - 30px);
	bottom: 40px;
	@media screen and (max-width: $mobilesize) {
		bottom: 18px;
			left: calc(100% - 20px);
	}
}

.course-block {
	padding: 10px 0px;
	@media screen and (max-width: $mobilesize) {
		width: 100%;
		padding: 0px 0px 5px 0px;
	}
}

#course-block-content {
	display: none;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 10px 0px;
}

.course-block-title {
	line-height: 4rem;
	width: 100%;
	text-align: center;
	color: $maincolor;
	background: rgba(0,0,0,0.05);
	@media screen and (max-width: $mobilesize) {
		line-height: 2rem;
	}
}

.course-block-description {
	line-height: 1.5rem;
	width: calc(100% - 250px);
	display: inline;
	padding: 10px;
	@media screen and (max-width: $mobilesize) {
		width:100%;
		order: 1;
	}
}

.course-block-image {
	display: inline;
	border-radius: 10px;
	@media screen and (max-width: $mobilesize) {
		width:80%;
		height: 80%;
		order: 0;
		margin: auto;
	}
}

.booknow {
	width: 100%;
	text-align: center;
	color: darkorange;
	@media screen and (max-width: $mobilesize) {
		order: 5;
	}
}

#upcoming {
	display: flex;
	flex-wrap: wrap;
	background: $maincolor;
	color: white;
	align-items: flex-start;
}

#upcoming-title {
	width: 100%;
	text-align: center;
	padding: 20px 0px;
	font-weight: 700;
}

.upcoming-link {
	color: white;
	text-decoration: none;
}

.upcoming-cta {
	font-weight: 700;
}

.upcoming-block {
	width: 25%;
	padding: 20px 20px;
	min-width: 400px;
	margin: 0px auto;
	line-height: 2rem;
	@media screen and (max-width: $mobilesize) {
		min-width:auto;
		width: 100%;
	}
}

#price {
	padding: 20px 0px;
	display: flex;
	flex-wrap: wrap;
}

#price-title {
	width: 100%;
	text-align: center;
}

#price-text {
	text-align: center;
	padding: 10px 0px;
	width: 100%;
	text-align: center;
}

#columns {
	display: flex;
	flex-wrap: no-wrap;
	justify-content: center;
	margin: 0px auto;
	padding: 20px 20px;
	@media screen and (max-width: $mobilesize) {
		flex-wrap: wrap;
	}
}

#col1 {
	width: 250px;
}

#col2 {
	width: 150px;
	font-weight: 900;
}

#price-text-after {
	padding: 20px 0px;
	width: 50%;
	min-width: 400px;
	margin: auto;
	@media screen and (max-width: $mobilesize) {
		width: 100%;
		min-width: auto;
	}
}